* {
	color: black;
}

.menuConteiner {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 2rem;
	justify-content: space-around;
}

@media (max-width: 600px) {
	.menuConteiner {
		flex-direction: column;
	}
}

@media (max-width: 380px) {
	.menuConteiner {
		flex-direction: column;
		margin-top: 0;
	}
}

.menuIten {
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.95);
	display: flex;
	font-family: 'Exo';
	justify-content: space-around;
	margin: 1rem;
	padding: 1rem;
	width: 315px;
}

.menuIten > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menuIten_name {
	font-weight: 900;
	font-size: 2rem;
	padding: 0 0 0.5rem;
	text-align: center;
}

.menuIten_iamgen {
	border-radius: 10px;
	max-width: 100%;
	padding-bottom: 0.5rem;
}

#read-me {
	align-items: center;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	padding: 0.4rem 1rem;
}

@media (max-width: 600px) {
	.menuIten {
		height: 40vh;
		max-width: 60%;
	}

	.menuIten_name {
		font-size: 1.3rem;
	}
	.menuIten_iamgen {
		height: auto;
		max-width: 100%;
	}
}

@media (max-width: 300px) {
	.menuIten {
		height: 26vh;
		max-width: 43%;
	}
	.menuIten_name {
		font-size: 1.3rem;
	}
	.menuIten_iamgen {
		height: 17.8vh;
		padding: 0;
		width: 53vw;
	}
}

.btn-container {
	display: flex;
	justify-content: center;
	padding: .5rem;
}
