* {
	color: black;
}

.menuConteiner {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 2rem;
	justify-content: space-around;
	z-index: auto;
}

@media (max-width: 600px) {
	.menuConteiner {
		flex-direction: column;
	}
}

@media (max-width: 380px) {
	.menuConteiner {
		flex-direction: column;
		margin-top: 0;
	}
}

