.Modal {
	background-color: #fdfefe;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 1rem 1.5rem 1rem rgba(8, 8, 8, 0.934);
	display: flex;
	position: relative;
	padding: 1em;
	width: 75%;
}

.Modal__close {
	align-items: center;
	background-color: rgb(0 0 0 / 98%);
	border-radius: 50%;
	color: white;
	cursor: pointer;
	display: flex;
	height: 30px;
	font-size: 1.6rem;
	padding: 5px;
	justify-content: center;
	position: absolute;
	top: 20px;
	right: 20px;
	transition: all 1s;
	width: 30px;
	z-index: 1;
}

.Modal__close:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.Modal__body {
	align-items: center;
	border-radius: 10px;
	background-image: url('../../../assets/img/Blue\ EdCheff.png');
	background-position: center;
	background-repeat: space;
	background-size: auto;
	display: flex;
	justify-content: center;
	justify-content: center;
	width: 100%;
}
