.btn {
	background-color: rgba(216, 53, 8, 0.746);
	border-radius: 10px;
	border-style: none;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-weight: bold;
	justify-content: center;
	margin: 0.3rem 0.3em;
	padding: 0.5rem 1rem;
	transition: all 0.5s;
	width: 100%;
}

.btn:hover {
	background-color: rgba(8, 70, 216, 0.593);
}

.btn:active {
	background-color: rgba(8, 216, 147, 0.87);
}

.btn.remove.close {
	background-color: #f5c30c;
	border-radius: 50%;
	color: #000;
	padding: 0.4rem;
	width: 1.5rem;
}

.btn.remove.close:hover {
	background-color: #bc0e08;
	color: #fff;
}

.btn.remove {
	background-color: #f51c0c;
}

.btn.remove:hover {
	background-color: #af170c;
}

@media (max-width: 300px) {
	.btn.remove {
		padding: 9px;
	}
}

.btn.create:hover {
	background-color: #0c7df5;
	width: 50%;
}

.btn.add {
	background-color: #0474eacb;
}

.btnOn {
	background-color: #0ff5f9ba;
	border-radius: 3rem;
	font-size: 2rem;
	transform: all .8s;
}

.btnDell {
	background-color: #e90505de;
	border-radius: 3rem;
	font-size: 2rem;
	transform: all .8s;
}

.btn.up:hover {
	background-color: #49cceab0;
}

.btn.add:hover {
	background-color: #07c42a;
}

.btn.buy,
.btn.up,
.btn.create {
	background-color: #0c7df573;
	border-radius: 3rem;
	font-size: 2rem;
}

.btn.buy:hover {
	background-color: #07c42a;
}

.update {
	background-color: #0cf51c99;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	font-size: 1.5rem;
	left: 10px;
	padding: 5px;
	position: absolute;
	top: -10px;
}

.delete {
	background-color: #f50c0c99;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	font-size: 1.5rem;
	padding: 5px;
	position: absolute;
	right: 10px;
	top: -10px;
}
