* {
	margin: 0;
	padding: 0;
}

#nav {
	align-items: center;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
}

#list {
	list-style: none;
	display: flex;
	padding: 0.5rem;
  font-size: 1.3rem;
}

.carrinho {
	/* background-color: #00c9ff5c; */
	/* border-radius: 1.2rem; */
	display: flex;
	font-size: 2rem;
	padding: 1rem;
}

li a {
	display: flex;
	padding: 0.15rem 0.75rem;
	text-decoration: none;
	color: #4f4f4f;
	font-weight: bold;
	transition: 0.3s;
}

a:hover {
	background-color: rgba(114, 111, 111, 0.187);
	border: black;
	border-radius: 10px;
	color: rgb(26, 25, 25);
}

@media (max-width: 900px) {
	#nav{
		flex-direction: column;
	}

	#list {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
	a:hover {
		width: 60vw;
		justify-content: center;
	}

}

