.modal-ativo {
	background-color: #fdfefe;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 5px;
	border: 10px solid #dde5ef;
	box-shadow: 1.8rem 2rem 1rem rgba(8, 8, 8, 0.934);
	font-size: 1.3rem;
	height: auto;
	left: 15vw;
	position: fixed;
	padding: 1rem;
	top: 36vh;
	text-align: center;
	transform: translate3D(-25%, -25%, 10%);
	transition: all 0.8s;
	width: 65vw;
	z-index: 10;
	z-index: 9999;
}

.modal {
	position: fixed;
	z-index: -9999;
	opacity: 0;
}

.modal-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-title {
	padding-bottom: 1rem;
	font-size: 1.4rem;
	font-weight: 900;
	text-decoration: underline;
}
.modal-description {
	text-align: justify;
	font-size: 1.3rem;
	padding: 1.3rem;
}
