.modal-ativo{
  position: fixed;
  z-index: 10;
  width: 65vw;
  height: auto;
  left: 15vw;
  top: 36vh;
  background-color: #d1c6a3;
  transform: translateY(-25%);
  padding: 1rem;
  border: 1rem solid rgb(140,133,133);
  box-shadow: 4px 4px 8px #0002;
  border-radius: 5px;
  text-align: center;
  z-index: 9999;
  transition: .6s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.3rem;
}

.modal{
   z-index: -9999;
}
