.ItemDetalhesModal {
  font-family: auto;
  background: rgba(255, 255, 255, 0.494);
  border-radius: 10px;
  padding: 1rem;
  max-height: 350px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.ItemDetalhesModal > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ItemDetalhesModal__titulo {
  font-size: 3rem;
  font-weight: 700;
  line-height: 50%;
  text-decoration: underline;
}

.ItemDetalhesModal__descricao {
  font-size: 1.6rem;
  padding: 2rem;
  font-weight: 500;

}


