.ItemDetalhesModal {
	background: rgba(255, 255, 255, 0.494);
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
	font-family: auto;
	height: 100%;
	justify-content: center;
	max-height: 350px;
	padding: 1rem;
	position: relative;
	width: 100%;
}

.ItemDetalhesModal > div {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ItemDetalhesModal__titulo {
	font-size: 3rem;
	font-weight: 700;
	line-height: 50%;
	text-decoration: underline;
}

.ItemDetalhesModal__descricao {
	font-size: 1.6rem;
	font-weight: 500;
	padding: 2rem;
}
