@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Uchen&display=swap');

body {
	margin: 0;
	font-family: Uchen, Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	background-color: #cee4fe;
}

body {
	background-color: #dee5ede8;
	border-radius: 20px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	color: #d0d0d0;
	margin: 15px;
	min-height: calc(100vh - 60px);
	padding: 15px;
	position: relative;
}
